@keyframes timberwolves-logo {
  0% {
    opacity: 1;
  }
  35%,
  50% {
    opacity: 0;
  }
  85%,
  100% {
    opacity: 1;
  }
}

.timberwolves-logo-components {
  animation: timberwolves-logo 5s ease infinite;
}

.timberwolves-logo-components-1 {
  animation-delay: 0.3s;
}

.timberwolves-logo-components-2 {
  animation-delay: 0.6s;
}

.timberwolves-logo-components-3 {
  animation-delay: 0.9s;
}

.timberwolves-logo-components-4 {
  animation-delay: 1.2s;
}

.timberwolves-logo-components-5 {
  animation-delay: 1.5s;
}

.timberwolves-logo-components-6 {
  animation-delay: 1.8s;
}

.loading-logo {
  margin: auto;
}
